body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .swiper-container {
    height: 100vh; /* Add this line */
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;
    position: relative;
    /* Add these lines */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    perspective: 1000px; /* Add this line */
  }

  .movie-card {
    width: 50%;
    height: 50%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .movie-card.flipped {
    transform: rotateY(180deg);
  }
  
  .movie-card-front,
  .movie-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .movie-card-front {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .movie-card-back {
    background-color: #1a1a1a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .movie-poster {
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .movie-title,
  .movie-overview,
  .movie-watch {
    max-width: 80%;
    text-align: center;
  }
  
  .movie-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .movie-overview {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 20px;
  }
  